html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.box .boxDownImg {
  background: url(../assets/bg.png) no-repeat center center;
  background-size: 101% 101%;
}

.title {
  font-size: 1.5vw;
  color: #fff;
  margin: 0 auto;
  padding-top: 15px;
  font-weight: 800;
  letter-spacing: 8px;
  line-height: 50px;
  text-align: center;
  font-family: HYk2gj;
}

.sub-title {
  font-size: 14px;
  font-weight: bold;
  color: #1b85c1;
  margin: 0;
  height: 30px;
  text-align: center;
}

.time-info {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 20px;
  padding-top: 5px;
  color: #41b6b7;
}

.card {
  /* position: relative;
  background: url(../assets/border.png) no-repeat center center;
  background-size: 100% 100% */
  width: 100%;
  height: 186px;
  background: rgba(8, 26, 72, 0.4);
  border: 1px solid #22599C;
  opacity: 1;
}



.card>.back-img {
  height: calc(100% - 10px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  z-index: -1;
}

.back-img-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.back-img-head {
  width: 60%;
  min-height: 30px;
  position: absolute;
  left: 20%;
  top: 0;
  z-index: -1;
}

.card-title {
  width: 100%-20px;
  height: 36px;
  background: linear-gradient(90deg, #284298 0%, #14214C 100%);
  opacity: 0.5;
  margin: 0px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title-text {
  width: 80%;
  font-family: Alibaba PuHuiTi;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
  text-align: left;
}

.recycle-record {
  width: calc(100% - 10px);
  height: calc(100% - 85px);
  margin-top: 5px;
  margin-left: 5px;
  color: white;
  font-size: 14px;
}

.recycle-record-title {
  width: 100%;
  height: 40px;
  background-color: #0390bc;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  font-size: 12px;
}

.img_1 {
  /* background: url(../assets/40.png) no-repeat center center; */
  background-size: 100% 100%;
}

.img_2 {
  /* background: url(../assets/41.png) no-repeat center center; */
  background-size: 100% 100%;
}

.recycle-record-content {
  width: 100%;
  height: calc(100% - 25px);
  overflow-y: auto;
}

.recycle-record-content-line {
  width: 100%;
  /* height: px; */
  color: #00F2F8;
  display: flex;
  align-items: center;
}

.recycle-record-content-line:hover {
  background-color: #00477763;
  color: white;
}

.recycle-record-content-item {
  height: 50px;
  display: inline-block;
  /* line-height: 50px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.member-number {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.member-number-oneRone {
  color: #00F2F8;
}

.el-progress-bar {
  margin-right: -100px;
}

.el-progress-bar__outer {
  width: calc(100% - 10px) !important;
  background-color: #2f364c !important;
}

.el-input--mini .el-input__inner {
  height: 22px;
  line-height: 22px;
  background: transparent;
  color: white;
}

.el-input--mini .el-input__icon {
  line-height: 22px;
}

.footerChange {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}


.spanStyleColor {
  color: #00F2F8;
  font-weight: 600;
}

.changeButton>span {
  margin-left: 20px;
}

.headerBox {
  height: 12%;
  width: 70%;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButtonLeft {
  background: url(../assets/headerButtonLeftBG.png) no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerButtonLeft-img {
  margin-top: 10px
}

.headerButtonLeft-text {
  padding: 8px;
  padding-top: 10px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
}

.headerButtonLeft-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerButtonLeft-form .el-select .el-input__inner {
  background-color: #00313F;
}

.el-scrollbar {
  background: transparent;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #01EEFD;
}

.el-select-dropdown__item {
  color: #FFFFFF !important;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  /* background: #6AD7FF !important;
   */
  background:rgb( 10, 17, 43) !important;

}

.el-select-dropdown__item:hover {
  background:rgb( 10, 17, 43) !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  background: transparent !important;
}

.el-popper {
  background-color: transparent !important;
}

.headerBoxMLeft {
  width: 30%;
  height: 20%;
  margin: 20px;
  background: rgba(0, 49, 63, 0.85);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #01EEFD;
}

.headerBoxMLeft-header {
  width: 100%;
  height: calc(100%/3 - 0px);
  border-bottom: 1px solid #01EEFD;
  padding-left: 10px;
  box-sizing: border-box;
}

.headerBoxMLeft-container {
  box-sizing: border-box;
  width: 100%;
  height: calc(100%/3 - 0px);
  padding: 10px;
}

.chechoxStyle {
  text-align: left;
  margin-top: 10px;
}

.chechoxStyle .el-checkbox {
  color: #FFFFFF;
}

.headerBoxMRight {
  width: 10%;
  margin-left: 17%;
  height: 14%;
}

.headerBoxMRight-header {
  height: calc(100%/2 - 0px);
  padding-left: 0px;
}

.oneLeftOne {
  width: calc(50% - 20px);
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thRightOne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 28.22%; */
  /* background: url(../assets/thRightOne.png) no-repeat center center; */
  /* background-size: 100% 100%; */
  /* line-height: 100%; */
}

.twoLeftOne {
  display: flex;
  flex-wrap: wrap;
}

.twoLeftOne-item {
  width: 50%;
  height: calc(50% - 2em);
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* padding: 1em; */
}

.boxTwo {
  width: 40%;
  height: 100%;
  position: relative;
}

.boxTwo-bg {
  width: 100%;
  height: 100%;
  /* background: url(../assets/wLock.png) no-repeat center center; */
  /* background-size:100% 100%; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotate2 2s linear infinite;
}

.boxTwo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* animation: rotate2 2s linear infinite; */
}

.twoRightUp {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.twoRightUp-top {
  position: relative;
  /* background-color: #fff; */
  width: 100%;
  height: 72.7%;
}



.map4 {
  /* height: 32.60%;
  width:  23.17%; */
  height: 30%;
  width: 27.9%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.twoRightUp-down {
  background-color: rgb(119, 16, 16);
  height: 21.8%;
  width: 55.81%;
  background: url(../assets/twoR.png) no-repeat center center;
  background-size: 100% 90%;
  position: relative;
}

.twoRightUp-down div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.twoLeftTwo {
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #43E0FE;
  line-height: 33px;
}

.twoLeftTwo-text {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #43E0FE;
  line-height: 20px
}

@keyframes rotate1 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate2 {
  form {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.el-input__inner {
  background: rgba(106, 215, 255, 0.3) !important;
  border: 1px solid #6AD7FF !important;
  color: #fff !important;
}

.center_mig {
  background: url(../assets/389798475.png) no-repeat center center;
  background-size: 100% 100%;
}

.center_ul {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.center_ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 180px;
}

.center_ul li div {
  position: absolute;
  bottom: -8px;
  width: 126px;
  height: 34px;
  line-height: 34px;
  color: #FFFFFF;
  background: #1A637E;
  border: 1px solid #95EFFF;
  opacity: 1;
  border-radius: 17px;
}

.center_ul li p {
  width: 66px;
  height: 51px;
  font-size: 37px;
  font-family: Alibaba PuHuiTi;
  font-weight: bold;
  line-height: 58px;
  color: #FFFFFF;
  opacity: 1;
}

/* .center_ul .a1 {
  background: url(../assets/100.png) no-repeat center center;
  background-size: 100% 80%;
}

.center_ul .a2 {
  background: url(../assets/101.png) no-repeat center center;
  background-size: 100% 80%;
}

.center_ul .a3 {
  background: url(../assets/102.png) no-repeat center center;
  background-size: 100% 80%;
}

.center_ul .a4 {
  background: url(../assets/103.png) no-repeat center center;
  background-size: 100% 80%;
} */

.display-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}